/* ---------------- EXISTING CSS (same as yours) ---------------- */

.skills-outer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  position: relative;
}

.skills {
  width: 100%;
  background: var(--main-green);
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 50px;
  padding-bottom: 100px;
}

.skills-cont {
  padding: 50px 0;
}

.skills-content-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 50px;
}

.skills-header h1 {
  color: rgb(24, 24, 24);
  width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid rgb(25, 25, 25);
}

.skills-icon {
  font-size: 127px;
  color: var(--main-white);
  transition: all 0.5s;
}

.js {
  font-size: 90px;
  margin: 10px;
}

.xd {
  font-size: 110px;
  margin: 10px;
}

.redux {
  font-size: 100px;
  margin: 10px;
}

.skills-list-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 210px;
  height: 190px;
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgb(34, 34, 34);
  box-shadow: 5px 5px 5px #000;
  transition: all 0.5s !important;
}

.skill-title {
  color: var(--main-white);
  font-size: 18px;
}

.skills-card:hover {
  transition: all 0.5s;
  margin: 20px;
  box-shadow: 0px 0px 20px #022314;
  background-color: transparent;
}

.skills-card > .js {
  color: yellow;
  background-color: #000;
}

.skills-card > .bootstrap {
  color: rgb(89, 9, 248);
}

.skills-card > .css {
  color: blue;
}

.skills-card > .html {
  color: orangered;
}

.skills-card > .react {
  color: rgb(3, 160, 250);
}

.skills-card > .java {
  color: blue;
}

.skills-card > .git {
  color: orangered;
}

.skills-card > .angularsimple {
  color: red;
}

.skills-card > .figma,
.skills-card > .redux {
  color: purple;
}

.skills-card > .xd {
  color: #461934;
  background-color: #f37df0;
  border-radius: 40px;
}

.skills-card > .springboot {
  color: #6db33f;
}

.skills-card > .mysql {
  color: #00758f;
}

.skills-card > .oracle {
  color: #f80000;
}

.skills-card > .restfulapi {
  color: #4a90e2;
}

.skills-card:hover > .skill-title {
  color: rgb(255, 255, 255);
}

.skills-card > .router {
  color: red;
}

/* ---------------- NEW SKILLS ADDED BELOW ---------------- */

.skills-card > .postgresql {
  color: #336791; /* PostgreSQL blue */
}

.skills-card > .typescript {
  color: #3178c6; /* TypeScript blue */
}

.skills-card > .docker {
  color: #0db7ed; /* Docker blue */
}

.skills-card > .jenkins {
  color: #d24939; /* Jenkins red */
}

.skills-card > .postman {
  color: #ff6c37; /* Postman orange */
}

.skills-card > .swagger {
  color: #85ea2d; /* Swagger green */
}

.skills-card > .junit {
  color: #25a162; /* JUnit green */
}

.skills-card > .maven {
  color: #c71a36; /* Maven red */
}

.skills-card > .linux {
  color: #fcc624; /* Linux yellow */
}

.skills-card > .microservices {
  color: #4fc3f7; /* Microservices cloud blue */
}

.skills-card > .jwt {
  color: #f4d03f; /* JWT golden */
}

/* ---------------- RESPONSIVE ---------------- */

@media screen and (max-width: 481px) {
  .skills-card > .xd {
    width: 70px;
    height: 70px;
  }
  .skills-card > .js {
    width: 70px;
    height: 70px;
  }
  .router-title {
    font-size: 16px !important;
  }
  .skills-card {
    width: 150px;
    height: 150px;
    margin: 10px !important;
  }
}

@media screen and (max-width: 377px) {
  .skills-card {
    width: 130px;
    height: 130px;
    margin: 10px !important;
  }
}
